<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arena_go_forward">
	<!--
	* This is a simple arena for testing the GoForward behavior.
	* It consists of a floor, a start pad, and an end pad.
	* The robot should start on the start pad and move forward to the end pad.
	-->

	<!-- Materials -->
	<material name="white">
		<color rgba="1 1 1 1"/>
	</material>
	<material name="black">
		<color rgba="0 0 0 1"/>
	</material>
	<material name="green">
		<color rgba="0 1 0 1"/>
	</material>
	<material name="blue">
		<color rgba="0 0 1 1"/>
	</material>
	<material name="red">
		<color rgba="1 0 0 1"/>
	</material>
	
	<!-- Properties -->
	<xacro:property name="floor_x" value="0.5" />
	<xacro:property name="floor_y" value="0.5" />
	<xacro:property name="floor_lateral_friction" value="10.0" />
	<xacro:property name="pad_size" value="0.1 0.1 0.001" />
	<xacro:macro name="arena_wall" params="name x y size_x size_y">
		<visual>
			<origin xyz="${x} ${y} 0.1" rpy="0 0 0"/>
			<geometry>
				<box size="${size_x} ${size_y} 0.2"/>
			</geometry>
			<material name="red"/>
		</visual>
		<collision>
			<origin xyz="${x} ${y} 0.1" rpy="0 0 0"/>
			<geometry>
				<box size="${size_x} ${size_y} 0.2"/>
			</geometry>
		</collision>
	</xacro:macro>

	<!-- Floor -->
	<link name="floor">
		<inertial>
			<mass value="0"/>
			<inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
		</inertial>
		<visual>
			<origin xyz="0 0 -0.01"/>
			<geometry>
				<box size="${floor_x} ${floor_x} 0.02"/>
			</geometry>
			<material name="black"/>
		</visual>
		<collision>
			<origin xyz="0 0 -0.01"/>
			<geometry>
				<box size="${floor_x} ${floor_x} 0.02"/>
			</geometry>
		</collision>
		<contact>
			<lateral_friction value="${floor_lateral_friction}"/>
		</contact>
	</link>
	
	<!-- Start Pad -->
	<link name="start_pad">
		<inertial>
			<mass value="0.1"/>
			<inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
		</inertial>
		<visual>
			<geometry>
				<box size="${pad_size}"/>
			</geometry>
			<material name="white"/>
		</visual>
	</link>
	<joint name="start_joint" type="fixed">
		<parent link="floor"/>
		<child link="start_pad"/>
		<origin xyz="${-(floor_x/2 - 0.1)} ${(floor_y/2 - 0.1)} 0.001"/>
	</joint>
	
	<!-- End Pad -->
	<link name="end_pad">
		<inertial>
			<mass value="0.1"/>
			<inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
		</inertial>
		<visual>
			<geometry>
				<box size="${pad_size}"/>
			</geometry>
			<material name="blue"/>
		</visual>
	</link>
	<joint name="end_joint" type="fixed">
		<parent link="floor"/>
		<child link="end_pad"/>
		<origin xyz="${(floor_x/2 - 0.1)} ${-(floor_y/2 - 0.1)} 0.001"/>
	</joint>
	
	<!-- Walls -->
	<link name="walls">
		<inertial>
			<mass value="0"/>
			<inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
		</inertial>

		<xacro:arena_wall name="north" x="0" y="${floor_y/2}" size_x="${floor_x}" size_y="0.02" />

		<xacro:arena_wall name="south" x="0" y="${-floor_y/2}" size_x="${floor_x}" size_y="0.02" />

		<xacro:arena_wall name="east" x="${floor_x/2}" y="0" size_x="0.02" size_y="${floor_y}" />

		<xacro:arena_wall name="west" x="${-floor_x/2}" y="0" size_x="0.02" size_y="${floor_y}" />
	</link>

	<joint name="walls_joint" type="fixed">
		<parent link="floor"/>
		<child link="walls"/>
	</joint>
	
</robot>
